doctype html
html
	head
		title My Design
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		.content-body
			include templates/blank_header.jade
			include templates/background_head.jade
			include templates/statistics_data.jade
			include templates/work_flow.jade
			include templates/reason_list.jade
			include templates/testimonial_feedback.jade
			include templates/background_footer.jade
			include templates/blank_footer.jade