div.background-head
	ul.log-sign
		li
			a(href='#') Agents
		li
			a(href='#') Login
		li
			a(href='#') Sign up
	div.agent-search-upside
		h1
			strong Relax, Finding An Agent Just Got Easier
		p Receive proposals form best agents for free
		div.search
			input.search-text(placeholder='Enter a Suburb')
			div.search-button SEARCH
