div.blank-footer
	ul.menu-list
		li
			| Blog
		li
			| Contact Us
		li
			| About Us
		li
			| FAQs
		li
			| Pri
		li
			| vacy Dislaimer
	ul.logo-list
		li
			i.fa.fa-twitter
		li
			i.fa.fa-facebook