div.reason-list
	div.title
		| WHY CHOOSE US?
	ul.reasons
		li
			i.fa.fa-check
			h3.abstract Quick
			p.description
				| Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos.
		li
			i.fa.fa-tag
			h3.abstract Easy
			p.description
				| Qui ratione volutatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum.
		li
			i.fa.fa-refresh
			h3.abstract Comprehensive
			p.description
				| Nostrud exerciation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
		li
			i.fa.fa-male
			h3.abstract Free
			p.description
				| Onsectetur, adipisci veldt, send quiz non numquam emus modi tenpora imcidunt ut labore et dolore magnam.
		li
			i.fa.fa-thumbs-up
			h3.abstract Independent
			p.description
				| Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde.
		li
			i.fa.fa-newspaper-o
			h3.abstract Awesome
			p.description
				| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusatium doloremque laudantium.
