div.testimonial-feedback
	div.tab
		div.testimonial Testimonial
		div.feedback Feedback
	div.fa.fa-quote-left
	div.cite
		| Lorem ipsum dolor sit amet, consetetur adipisicing elit, sed to eiusmod tempor incididunt ut labore et dolore magna aliqua.
	div.person-introd
		div.name
			| John Mayer
		div.title
			| Halcyon, CEO
	div.photo-list
		img(src='stylesheets/pictures/pic1.jpeg')
		img(src='stylesheets/pictures/pic2.jpeg')
		img(src='stylesheets/pictures/pic3.jpeg')
