.work-flow
	h2.subject
		| HOW IT WORKS
	.horiz-line
	ul.steps
		li.step
			.seq 1
			.fa.fa-university
			.title Compare
			.description
				| Magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est
		li.step
			.seq 2
			.fa.fa-pencil
			.title Receive Proposals
			.description
				| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
		li.step
			.seq 3
			.fa.fa-group
			.title Sell with the Best
			.description Incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
